/* App.css */
.app-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
  margin-left: 80px; /* Space for the sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f9f9;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

form {
  margin: 20px auto; /* Center the form horizontally */
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width */
  max-width: 800px; /* Max width for larger screens */
  border-radius: 10px;
}

h2, h3 {
  color: #333;
  margin-bottom: 10px;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Footer positioning */
footer {
  
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
